#canvas {
  border: 1px;
  border-color: black;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 35px;
  margin-left: 50px;
  float: right;
}

.ColorPicker {
  float: left;
  margin: 50px 50px 20px 40px;
  background: url(../images/img_colormap.png) no-repeat;
  background-size: cover;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 290px;
  height: 245px;
  padding-left: 180px;
}

#AboutMe .backButton {
  color: white;
  margin-top: 390px;
  margin-left: 50px;
}

#AboutMe .backButton:hover {
  background-color: rgb(255, 100, 0);
}
